/* Top Menu */
.main-navigation{background-color:#24272f;height:43px;margin:0;padding:0;position:relative}.main-navigation ul{display:inline;float:left;width:710px;margin:0 5px;float:right;margin:0;padding:0;position:relative}.main-navigation ul li{display:inline-block;height:43px;list-style:none;padding:0;position:relative}.main-navigation ul li a{color:#b5cc00;font-family:'Museo700';font-size:16px;font-weight:bold;line-height:48px;padding:20px 15px;position:relative;text-decoration:none;text-transform:uppercase}.main-navigation ul li a:after{background:url('../images/sprite.png') no-repeat -44px -1250px;content:" ";display:inline-block;height:15px;position:absolute;right:0;top:18px;width:12px}
.main-navigation ul li .submenu{display:none}
.main-navigation ul li:hover>a:after{background:transparent}
.main-navigation ul li:hover .submenu{background-color:#24272f;display:block;height:auto;left:0;margin:0;padding:15px 15px 12px 15px;position:absolute;top:43px;width:200px;z-index:1000}.main-navigation ul li:hover .submenu li{float:left;height:auto;padding:0 0 3px 0;width:100%}.main-navigation ul li:hover .submenu li>a{color:#919191;font-family:'Museo500';font-size:12px;line-height:16px;margin:0;padding:0;text-decoration:none;text-transform:uppercase;font-weight:normal}.main-navigation ul li:hover .submenu li>a:hover{color:#5e5e5e}
.main-navigation ul li:hover .submenu li>a:after{background:transparent}
.main-navigation .all-categories>a{color:#919191}.main-navigation .all-categories>a:after{background:url('../images/sprite.png') no-repeat -44px -770px}
.main-navigation .all-categories .submenu-group{display:none}
.main-navigation .all-categories:hover{background-color:#d1d1d1}.main-navigation .all-categories:hover>a{color:#383838}
.main-navigation .all-categories:hover .submenu-group{-webkit-box-shadow:0 4px 3px 0 rgba(36,39,47,0.30000000000000004);box-shadow:0 4px 3px 0 rgba(36,39,47,0.30000000000000004);border-radius:0;background-color:#d1d1d1;display:block;height:auto;left:-611px;margin:0;padding:10px 20px;position:absolute;overflow:hidden;top:43px;width:800px;z-index:1000}.main-navigation .all-categories:hover .submenu-group ul{float:left;margin:0;padding:0 20px 5px 0;width:190px}
.main-navigation .all-categories:hover .submenu-group li{height:auto;min-height:25px;margin:0;padding:0;text-align:left}.main-navigation .all-categories:hover .submenu-group li>a{color:#5e5e5e;line-height:2;margin:0;padding:0}.main-navigation .all-categories:hover .submenu-group li>a:hover{color:#5e5e5e}
.main-navigation .all-categories:hover .submenu-group li>a:after{background:transparent}
.main-navigation .all-categories:hover .submenu-group li>ul{-webkit-box-shadow:none;box-shadow:none;background:transparent;border:none;float:left;display:block;margin:0;padding:0;width:150px}.main-navigation .all-categories:hover .submenu-group li>ul li{clear:left;float:left;height:auto;line-height:auto;min-height:auto}.main-navigation .all-categories:hover .submenu-group li>ul li a{border:0;color:#787878;font-size:12px;line-height:2;text-transform:none}
.main-navigation .all-categories .level-top{display:none}.main-navigation .all-categories .level-top.parent{display:inline-block}.main-navigation .all-categories .level-top.parent:first-child{margin-left:0}
.main-navigation .all-categories .level-top.parent>a{color:#b5cc00;display:block;font-family:'Museo700';font-size:17px;line-height:43px;padding:0 20px;position:relative;text-decoration:none;text-transform:uppercase;z-index:2}.main-navigation .all-categories .level-top.parent>a:before{color:#b5cc00;content:"\f078";font-family:"FontAwesome";font-size:12px;position:absolute;right:0;top:1px}

/* Sidebar Menu */
.sidebar .menu-container{border-left:solid 9px #b5cc00;clear:both;float:left;margin:0;padding:10px 0}
.sidebar .nav-menu{list-style-type:none;margin:0;margin-left:10px;padding:0}.sidebar .nav-menu.first-level .nav-item{float:left;position:relative;margin-bottom:5px;padding-bottom:5px}.sidebar .nav-menu.first-level .nav-item .nav-link{color:#b5cc00;font-size:14px;line-height:2;text-decoration:none;font-weight:bold}
.sidebar .nav-menu .second-level,.sidebar .nav-menu .third-level{float:left;list-style-type:none;margin:0;margin-bottom:1em;padding:0}
.sidebar .nav-menu .second-level{margin-left:10px}
.sidebar .nav-menu .third-level{display:none;margin-left:10px}.sidebar .nav-menu .third-level .sub-item .sub-link{font-family:'Museo300';font-weight:normal}
.sidebar .nav-menu .sub-item{display:block;float:left;width:100%}.sidebar .nav-menu .sub-item .sub-link{clear:both;color:#cecece;float:left;font-size:12px;font-weight:bold;line-height:1.5;position:relative;text-decoration:none;width:100%}.sidebar .nav-menu .sub-item .sub-link:before{background:url('../images/sprite.png') no-repeat -43px -174px;color:transparent;display:block;font:0/0 a;height:11px;position:absolute;right:10px;top:0;width:12px}
.sidebar .nav-menu .sub-item .sub-link.more-items:before{content:"+"}
.sidebar .nav-menu .sub-item .sub-link.less-items:before{background-position:-43px -1253px;content:"-"}
