<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
?>
<?php
/**
 * Create account form template
 *
 */
/** @var $this Mage_Customer_Block_Form_Register */
?>
<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('Create an Account') ?></h1>
        <small class="required"><sup>*</sup><?php echo $this->__('Required Fields') ?></small>
    </div>
    <?php echo $this->getChildHtml('form_fields_before')?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate">
        <fieldset>
            <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
            <legend><?php echo $this->__('Personal Information') ?></legend>
            <ul class="form-list">
                <li class="fields">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                </li>
                <li>
                        <label for="email_address" class="required"><sup>*</sup><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="email" id="email_address" value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" />
                        </div>
                </li>
                <?php if ($this->isNewsletterEnabled()): ?>
                <li class="newletter-box">
                        <div class="input-box">
                            <input type="checkbox" name="is_subscribed" title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1" id="is_subscribed"<?php if($this->getFormData()->getIsSubscribed()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                        </div>
                        <label for="is_subscribed"><?php echo $this->__('Sign Up for Newsletter') ?></label>
                </li>
                <?php endif ?>
                <?php // Customer CPF ?>
                <li class="fields">
                    <div class="field">
                        <?php echo $this->getLayout()->createBlock('customer/attribute')->getCustomerAttributeHtml('cpf_cnpj'); ?>
                    </div>
                    <?php // Customer RG ?>
                    <div class="field">
                        <?php echo $this->getLayout()->createBlock('customer/attribute')->getCustomerAttributeHtml('rg'); ?>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <?php echo $this->getLayout()->createBlock('customer/attribute')->getCustomerAddressAttributeHtml('telephone'); ?>
                    </div>
                    <div class="field">
                        <?php echo $this->getLayout()->createBlock('esmart_customer/attribute')->getCustomerAddressAttributeHtml('cellphone'); ?>
                    </div>
                </li>
                <li class="fields">
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?>
                    <?php endif ?>
                </li>
                <li>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?>
                    <?php endif ?>
                </li>
                <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                <?php if ($_taxvat->isEnabled()): ?>
                <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
                <?php endif ?>
            </ul>
        </div>

        <fieldset>
            <input type="hidden" name="create_address" value="1" />
            <legend><?php echo $this->__('Address Information') ?></legend>
            <ul class="form-list">
               <!-- CEP -->
                <li class="fields">
                    <div class="field">
                    <label for="postcode" class="required"><sup>*</sup><?php echo $this->__('ZIP Code'); ?></label>
                        <div class="input-box">
                            <input type="text" id="postcode" name="postcode" value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>" class="input-text cep postcode required-entry validate-length minimum-length-9" >
                        </div>
                    </div>

                <div class="field">
                    <div class="icon-zip">
                        <a href="http://www.buscacep.correios.com.br/servicos/dnec/index.do" target="_blank"><?php echo $this->__('Didn\'t know your ZIP code?'); ?></a>
                    </div>
                    <div class="icon-loading"><?php echo $this->__('Loading, wait...'); ?></div>
                </div>
                </li>
                <script type="text/javascript">// <![CDATA[
                        jQuery('.postcode').blur(function() {
                            var url = '<?php echo $this->getUrl('freteco/ajax/endereco') ?>';
                            var cep = jQuery('.postcode').val();
                            var $icon = jQuery('.icon-loading');
                            var $icon2 = jQuery('.icon-zip');
                            jQuery($icon).show();
                            jQuery($icon2).hide();

                            jQuery.post(url, { "cep": cep },
                                function(data){
                                    if(data != null){
                                        jQuery($icon).hide();
                                        jQuery('.street').val(data.tipo_logradouro+' '+data.logradouro).show();
                                        jQuery('.bairro').val(data.bairro).show();
                                        jQuery('.city').val(data.cidade).show();

                                        jQuery('.region').val(data.uf).show();

                                        var $region = jQuery('#region_id');

                                        switch (data.uf) {
                                            case 'AC':
                                                jQuery($region).val(485);
                                                break;
                                            case 'AL':
                                                jQuery($region).val(486);
                                                break;
                                            case 'AP':
                                                jQuery($region).val(487);
                                                break;
                                            case 'AM':
                                                jQuery($region).val(488);
                                                break;
                                            case 'BA':
                                                jQuery($region).val(489);
                                                break;
                                            case 'CE':
                                                jQuery($region).val(490);
                                                break;
                                            case 'DF':
                                                jQuery($region).val(491);
                                                break;
                                            case 'ES':
                                                jQuery($region).val(492);
                                                break;
                                            case 'GO':
                                                jQuery($region).val(493);
                                                break;
                                            case 'MA':
                                                jQuery($region).val(494);
                                                break;
                                            case 'MT':
                                                jQuery($region).val(495);
                                                break;
                                            case 'MS':
                                                jQuery($region).val(496);
                                                break;
                                            case 'MG':
                                                jQuery($region).val(497);
                                                break;
                                            case 'PA':
                                                jQuery($region).val(498);
                                                break;
                                            case 'PB':
                                                jQuery($region).val(499);
                                                break;
                                            case 'PR':
                                                jQuery($region).val(500);
                                                break;
                                            case 'PE':
                                                jQuery($region).val(501);
                                                break;
                                            case 'PI':
                                                jQuery($region).val(502);
                                                break;
                                            case 'RJ':
                                                jQuery($region).val(503);
                                                break;
                                            case 'RN':
                                                jQuery($region).val(504);
                                                break;
                                            case 'RS':
                                                jQuery($region).val(505);
                                                break;
                                            case 'RO':
                                                jQuery($region).val(506);
                                                break;
                                            case 'RR':
                                                jQuery($region).val(507);
                                                break;
                                            case 'SC':
                                                jQuery($region).val(508);
                                                break;
                                            case 'SP':
                                                jQuery($region).val(509);
                                                break;
                                            case 'SE':
                                                jQuery($region).val(510);
                                                break;
                                            case 'TO':
                                                jQuery($region).val(511);
                                                break;
                                        }
                                    }
                                 }, "json"
                             );
                         });
                // ]]></script>

                <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                <li class="fields address-fields">
                    <div class="field">
                        <label for="street_1" class="required"><sup>*</sup><?php echo $this->__('Street Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="street[]" value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(0)) ?>" title="<?php echo $this->__('Street Address') ?>" id="street_1" class="input-text street <?php echo $_streetValidationClass ?> required-entry">
                        </div>
                    </div>
                    <div class="field">
                        <label for="address_number" class="required"><sup>*</sup><?php echo $this->__('Number'); ?></label>
                        <div class="input-box">
                            <input type="text" id="address_number" name="address_number" value="<?php echo $this->escapeHtml($this->getFormData()->getAddressNumber()) ?>" maxlength="6" class="input-text required-entry validate-length minimum-length-1 maximum-length-6" >
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="address_complement"><?php echo $this->__('Complement'); ?></label>
                        <div class="input-box">
                            <input type="text" id="address_complement" name="address_complement" value="<?php echo $this->escapeHtml($this->getFormData()->getAddressComplement()) ?>" class="input-text validate-length maximum-length-255" >
                        </div>
                    </div>
                    <div class="field">
                        <label for="address_neighborhood" class="required"><sup>*</sup><?php echo $this->__('Neighborhood'); ?></label>
                        <div class="input-box">
                            <input type="text" id="address_neighborhood" name="address_neighborhood" value="<?php echo $this->escapeHtml($this->getFormData()->getAddressNeighborhood()) ?>" class="input-text bairro required-entry validate-length maximum-length-255" >
                        </div>
                    </div>
                </li>

                <li class="fields">
                    <div class="field">
                        <label for="region_id" class="required"><sup>*</sup><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                            <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>" title="<?php echo $this->__('State/Province') ?>" class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="city" class="required"><sup>*</sup><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" name="city" value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>" title="<?php echo $this->__('City') ?>" class="input-text city <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?> required-entry" id="city" />
                        </div>
                    </div>
                </li>
                <!-- CIDADE -->
                <li class="fields" style="display:none;">
                    <div class="field-left">
                        <label for="country" class="required"><sup>*</sup><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect() ?>
                        </div>
                    </div>
                </li>
            </ul>
            <input type="hidden" name="default_billing" value="1" />
            <input type="hidden" name="default_shipping" value="1" />
        </fieldset>

        <fieldset>
            <legend><?php echo $this->__('Login Information') ?></legend>
            <ul class="form-list">
                <li class="fields">
                    <div class="field">
                        <label for="password" class="required"><sup>*</sup><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirmation" class="required"><sup>*</sup><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>" id="confirmation" class="input-text required-entry validate-cpassword" />
                        </div>
                    </div>
                </li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
                <?php echo $this->getChildHtml('persistent.remember.me'); ?>
            </ul>
            <?php echo $this->getChildHtml('persistent.remember.me.tooltip'); ?>
        </fieldset>
        <div class="buttons-set">
            <a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>" class="back-link">« <?php echo $this->__('Back') ?></a>
            <button type="submit" title="<?php echo $this->__('Submit') ?>" class="button btn btn-save-register"><?php echo $this->__('Submit') ?></button>
        </div>
        <?php if (Mage::helper('checkout')->isContextCheckout()): ?>
            <input name="context" type="hidden" value="checkout" />
        <?php endif; ?>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
    //]]>
    </script>
</div>
