/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
// Grid options
@gutter-width: 20px; // Your gutter width
@columns: 12; // The amount of columns you want
@max-width: 960px; // Set a maximum width of the site

// Half the gutter for borders, margin, padding etc
@gutter: @gutter-width*0.5;

// ===[ Variables ]===
// Grayscale
@black-10:                 darken(#fff, 10%);
@black-20:                 darken(#fff, 20%);
@black-30:                 darken(#fff, 30%);
@black-40:                 darken(#fff, 40%);
@black-50:                 darken(#fff, 50%);
@black-60:                 darken(#fff, 60%);
@black-70:                 darken(#fff, 70%);
@black-80:                 darken(#fff, 80%);
@black-90:                 darken(#fff, 90%);

// Default Colors
@white: #fff;
@black: #000;

// Accent colors
@blue:  #049cdb;
@blue-dark:  	#0064cd;
@green:  #46a546;
@red:  #9d261d;
@yellow:  #ffc40d;
@orange:  #f89406;
@pink:  #c3325f;
@purple:  #7a43b6;

// Brand colors - Client colors
@color-main:      #4e448f; // lilas
@color-complement:     #9e99c1; // lilas claro
@color-link:      #424444 ; // cinza escuro
@color-text:      #737474; // cinza medio

// Brand colors - Alert Boxes
@brand-primary:           #428bca;
@brand-success:           #5cb85c;
@brand-warning:           #f0ad4e;
@brand-danger:            #d9534f;
@brand-info:              #5bc0de;

// Scaffolding
@body-background:         @white;
@text-color:              @black-50;
@heading-color: @color-main;

// Links
@link-color-hover:        darken(@color-link, 15%);

// Select colors
@select: @blue;
@select-color: @white;

// Typography
@family-base: Arial, Helvetica, sans-serif;
@family-icons: "FontAwesome";
@family-serif: "Times New Roman", Times, serif;
@family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@body-family: @family-base;
@head-family: @family-base;

// Default sizes
@size-base:         16;
.font-size(@target: @fontsize) {
	@fsize: (@target/@size-base);
	font-size:  ~"@{fsize}em";
}
.line-height(@target: @lineheight,@fsize: 16) {
	@lsize: (@target/@fsize);
	line-height:  ~"@{lsize}";
}

// Forms
@color-placeholder: lighten(@text-color, 25%);
.input-form-content {
	background: @white;
	border: solid 1px @black-20;
	color: @color-link;
	.font-size(12);
	.line-height(32,12);
	padding: 5px 10px;
}

// ===[ Mixins: utilities ]===
// Box sizing
.box-sizing(@box-model: border-box) {
	-webkit-box-sizing: @box-model; // Safari <= 5
	-moz-box-sizing: @box-model; // Firefox <= 19
	box-sizing: @box-model;
}

// Drop shadows
.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	box-shadow: @shadow;
}

// Placeholder text
.placeholder(@color: @color-main) {
  &:-moz-placeholder            { color: @color; } // Firefox 4-18
  &::-moz-placeholder           { color: @color; } // Firefox 19+
  &:-ms-input-placeholder       { color: @color; } // Internet Explorer 10+
  &::-webkit-input-placeholder  { color: @color; } // Safari and Chrome
}

// ===[ Links ]===
a {
	color:@color-link;
	text-decoration: none;
	// Optional transition
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
	transition:all .2s linear;
	&:hover, &:focus {
		color: @link-color-hover;
		text-decoration: none;
	}
}


// ===[ Headings ]===
.heading {
	color: @heading-color;
	font-family: @head-family;
	margin: 0;
	text-transform: uppercase;
}
h1 {
	&:extend(.heading);
	.font-size(24);
	.line-height(48,24);
}
h2 {
	&:extend(.heading);
	.font-size(20);
	.line-height(40,20);
}
h3 {
	&:extend(.heading);
	.font-size(18);
	.line-height(36,18);
}
h4 {
	&:extend(.heading);
	.font-size(16);
	.line-height(32,16);
}
h5 {
	.font-size(14);
	font-weight: bold;
	.line-height(28,14);
}
h6 {
	&:extend(.heading);
	.font-size(12);
	font-weight: bold;
	.line-height(24,12);
}
.heading-1 {
	&:extend(h1);
}
.heading-2 {
	&:extend(h2);
}
.heading-3 {
	&:extend(h3);
}
.heading-4 {
	&:extend(h4);
}
.heading-5 {
	&:extend(h5);
}
.heading-6 {
	&:extend(h6);
}


// ===[ Body Config ]===
body {
	background: @white;
	color: @black-60;
	font-family: @body-family;
	.font-size(16);
	font-weight: normal;
	.line-height(28,16);
	margin: 0;
	overflow-x: hidden;
	padding: 0;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;

	-moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	-ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);

	-webkit-text-stroke: 1px transparent;
	-moz-text-stroke: 1px transparent;
	-ms-text-stroke: 1px transparent;
	text-stroke: 1px transparent;
}
*, *:before, &:after {
	&:extend(.border-box);
}
// ===[ Buttons Default Config ]===
.btn {
	-webkit-border-fit: lines; /* <- Safari & Google Chrome Fix */
	background: transparent;
	border: none;
	nowhitespace: afterproperty;
	text-align: center;
	text-transform: uppercase;
}

//===[Modais]===
#superbox-overlay {
	z-index: 10001;
}
#superbox-wrapper {
	z-index: 10002;
}
#superbox-innerbox {
	padding: 0;
	z-index: 1;
}
#superbox {
	.close {
		color: transparent;
		cursor: pointer;
		float: right;
		font: 0/0 a;
		height: 18px;
		position: relative;
		text-shadow: none;
		width: 26px;
		z-index: 0;
		a {
			color: @black-60;
			display: block;
			font: 1em/1 @head-family;
			height: 1em;
			margin: 0;
			padding: 0;
			width: 1em;
		}
	}
	#superbox-innerbox {
		clear: both;
	}
}

.limit {
	&:extend(.clearfix all, .border-box);
	display:block;
	max-width: @max-width;
	margin: 0 auto;
}
