/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
.mini-flags {
    .flag-mini {
        background:url('../images/flags16.png') no-repeat;
        color: transparent;
        display:inline-block;
        font: 0/0 a;
        height:16px;
        line-height:0;
        text-shadow: none;
        vertical-align:text-top;
        width:16px;
    }
    .flag-medium {
        background:url('../images/flags32.png') no-repeat;
        color: transparent;
        display:inline-block;
        font: 0/0 a;
        height:32px;
        line-height:0;
        text-shadow: none;
        vertical-align:text-top;
        width:32px;
    }
}

// flags 16px
.flag-mini ._African_Union(OAS){background-position:0 -16px;}
.flag-mini ._Arab_League{background-position:0 -32px;}
.flag-mini ._ASEAN{background-position:0 -48px;}
.flag-mini ._CARICOM{background-position:0 -64px;}
.flag-mini ._CIS{background-position:0 -80px;}
.flag-mini ._Commonwealth{background-position:0 -96px;}
.flag-mini ._England{background-position:0 -112px;}
.flag-mini ._European_Union{background-position:0 -128px;}
.flag-mini ._Islamic_Conference{background-position:0 -144px;}
.flag-mini ._Kosovo{background-position:0 -160px;}
.flag-mini ._NATO{background-position:0 -176px;}
.flag-mini ._Northern_Cyprus{background-position:0 -192px;}
.flag-mini ._Northern_Ireland{background-position:0 -208px;}
.flag-mini ._Olimpic_Movement{background-position:0 -224px;}
.flag-mini ._OPEC{background-position:0 -240px;}
.flag-mini ._Red_Cross{background-position:0 -256px;}
.flag-mini ._Scotland{background-position:0 -272px;}
.flag-mini ._Somaliland{background-position:0 -288px;}
.flag-mini ._Tibet{background-position:0 -304px;}
.flag-mini ._United_Nations{background-position:0 -320px;}
.flag-mini ._Wales{background-position:0 -336px;}
.flag-mini .ad{background-position:0 -352px;}
.flag-mini .ae{background-position:0 -368px;}
.flag-mini .af{background-position:0 -384px;}
.flag-mini .ag{background-position:0 -400px;}
.flag-mini .ai{background-position:0 -416px;}
.flag-mini .al{background-position:0 -432px;}
.flag-mini .am{background-position:0 -448px;}
.flag-mini .an{background-position:0 -464px;}
.flag-mini .ao{background-position:0 -480px;}
.flag-mini .aq{background-position:0 -496px;}
.flag-mini .ar{background-position:0 -512px;}
.flag-mini .as{background-position:0 -528px;}
.flag-mini .at{background-position:0 -544px;}
.flag-mini .au{background-position:0 -560px;}
.flag-mini .aw{background-position:0 -576px;}
.flag-mini .az{background-position:0 -592px;}
.flag-mini .ba{background-position:0 -608px;}
.flag-mini .bb{background-position:0 -624px;}
.flag-mini .bd{background-position:0 -640px;}
.flag-mini .be{background-position:0 -656px;}
.flag-mini .bf{background-position:0 -672px;}
.flag-mini .bg{background-position:0 -688px;}
.flag-mini .bh{background-position:0 -704px;}
.flag-mini .bi{background-position:0 -720px;}
.flag-mini .bj{background-position:0 -736px;}
.flag-mini .bm{background-position:0 -752px;}
.flag-mini .bn{background-position:0 -768px;}
.flag-mini .bo{background-position:0 -784px;}
.flag-mini .br{background-position:0 -800px;}
.flag-mini .bs{background-position:0 -816px;}
.flag-mini .bt{background-position:0 -832px;}
.flag-mini .bw{background-position:0 -848px;}
.flag-mini .by{background-position:0 -864px;}
.flag-mini .bz{background-position:0 -880px;}
.flag-mini .ca{background-position:0 -896px;}
.flag-mini .cg{background-position:0 -912px;}
.flag-mini .cf{background-position:0 -928px;}
.flag-mini .cd{background-position:0 -944px;}
.flag-mini .ch{background-position:0 -960px;}
.flag-mini .ci{background-position:0 -976px;}
.flag-mini .ck{background-position:0 -992px;}
.flag-mini .cl{background-position:0 -1008px;}
.flag-mini .cm{background-position:0 -1024px;}
.flag-mini .cn{background-position:0 -1040px;}
.flag-mini .co{background-position:0 -1056px;}
.flag-mini .cr{background-position:0 -1072px;}
.flag-mini .cu{background-position:0 -1088px;}
.flag-mini .cv{background-position:0 -1104px;}
.flag-mini .cy{background-position:0 -1120px;}
.flag-mini .cz{background-position:0 -1136px;}
.flag-mini .de{background-position:0 -1152px;}
.flag-mini .dj{background-position:0 -1168px;}
.flag-mini .dk{background-position:0 -1184px;}
.flag-mini .dm{background-position:0 -1200px;}
.flag-mini .do{background-position:0 -1216px;}
.flag-mini .dz{background-position:0 -1232px;}
.flag-mini .ec{background-position:0 -1248px;}
.flag-mini .ee{background-position:0 -1264px;}
.flag-mini .eg{background-position:0 -1280px;}
.flag-mini .eh{background-position:0 -1296px;}
.flag-mini .er{background-position:0 -1312px;}
.flag-mini .es{background-position:0 -1329px;}
.flag-mini .et{background-position:0 -1344px;}
.flag-mini .fi{background-position:0 -1360px;}
.flag-mini .fj{background-position:0 -1376px;}
.flag-mini .fm{background-position:0 -1392px;}
.flag-mini .fo{background-position:0 -1408px;}
.flag-mini .fr{background-position:0 -1424px;}
.flag-mini .ga{background-position:0 -1440px;}
.flag-mini .gb{background-position:0 -1456px;}
.flag-mini .gd{background-position:0 -1472px;}
.flag-mini .ge{background-position:0 -1488px;}
.flag-mini .gg{background-position:0 -1504px;}
.flag-mini .gh{background-position:0 -1520px;}
.flag-mini .gi{background-position:0 -1536px;}
.flag-mini .gl{background-position:0 -1552px;}
.flag-mini .gm{background-position:0 -1568px;}
.flag-mini .gn{background-position:0 -1584px;}
.flag-mini .gp{background-position:0 -1600px;}
.flag-mini .gq{background-position:0 -1616px;}
.flag-mini .gr{background-position:0 -1632px;}
.flag-mini .gt{background-position:0 -1648px;}
.flag-mini .gu{background-position:0 -1664px;}
.flag-mini .gw{background-position:0 -1680px;}
.flag-mini .gy{background-position:0 -1696px;}
.flag-mini .hk{background-position:0 -1712px;}
.flag-mini .hn{background-position:0 -1728px;}
.flag-mini .hr{background-position:0 -1744px;}
.flag-mini .ht{background-position:0 -1760px;}
.flag-mini .hu{background-position:0 -1776px;}
.flag-mini .id{background-position:0 -1792px;}
.flag-mini .mc{background-position:0 -1792px;}
.flag-mini .ie{background-position:0 -1808px;}
.flag-mini .il{background-position:0 -1824px;}
.flag-mini .im{background-position:0 -1840px;}
.flag-mini .in{background-position:0 -1856px;}
.flag-mini .iq{background-position:0 -1872px;}
.flag-mini .ir{background-position:0 -1888px;}
.flag-mini .is{background-position:0 -1904px;}
.flag-mini .it{background-position:0 -1920px;}
.flag-mini .je{background-position:0 -1936px;}
.flag-mini .jm{background-position:0 -1952px;}
.flag-mini .jo{background-position:0 -1968px;}
.flag-mini .jp{background-position:0 -1984px;}
.flag-mini .ke{background-position:0 -2000px;}
.flag-mini .kg{background-position:0 -2016px;}
.flag-mini .kh{background-position:0 -2032px;}
.flag-mini .ki{background-position:0 -2048px;}
.flag-mini .km{background-position:0 -2064px;}
.flag-mini .kn{background-position:0 -2080px;}
.flag-mini .kp{background-position:0 -2096px;}
.flag-mini .kr{background-position:0 -2112px;}
.flag-mini .kw{background-position:0 -2128px;}
.flag-mini .ky{background-position:0 -2144px;}
.flag-mini .kz{background-position:0 -2160px;}
.flag-mini .la{background-position:0 -2176px;}
.flag-mini .lb{background-position:0 -2192px;}
.flag-mini .lc{background-position:0 -2208px;}
.flag-mini .li{background-position:0 -2224px;}
.flag-mini .lk{background-position:0 -2240px;}
.flag-mini .lr{background-position:0 -2256px;}
.flag-mini .ls{background-position:0 -2272px;}
.flag-mini .lt{background-position:0 -2288px;}
.flag-mini .lu{background-position:0 -2304px;}
.flag-mini .lv{background-position:0 -2320px;}
.flag-mini .ly{background-position:0 -2336px;}
.flag-mini .ma{background-position:0 -2352px;}
.flag-mini .md{background-position:0 -2368px;}
.flag-mini .me{background-position:0 -2384px;}
.flag-mini .mg{background-position:0 -2400px;}
.flag-mini .mh{background-position:0 -2416px;}
.flag-mini .mk{background-position:0 -2432px;}
.flag-mini .ml{background-position:0 -2448px;}
.flag-mini .mm{background-position:0 -2464px;}
.flag-mini .mn{background-position:0 -2480px;}
.flag-mini .mo{background-position:0 -2496px;}
.flag-mini .mq{background-position:0 -2512px;}
.flag-mini .mr{background-position:0 -2528px;}
.flag-mini .ms{background-position:0 -2544px;}
.flag-mini .mt{background-position:0 -2560px;}
.flag-mini .mu{background-position:0 -2576px;}
.flag-mini .mv{background-position:0 -2592px;}
.flag-mini .mw{background-position:0 -2608px;}
.flag-mini .mx{background-position:0 -2624px;}
.flag-mini .my{background-position:0 -2640px;}
.flag-mini .mz{background-position:0 -2656px;}
.flag-mini .na{background-position:0 -2672px;}
.flag-mini .nc{background-position:0 -2688px;}
.flag-mini .ne{background-position:0 -2704px;}
.flag-mini .ng{background-position:0 -2720px;}
.flag-mini .ni{background-position:0 -2736px;}
.flag-mini .nl{background-position:0 -2752px;}
.flag-mini .no{background-position:0 -2768px;}
.flag-mini .np{background-position:0 -2784px;}
.flag-mini .nr{background-position:0 -2800px;}
.flag-mini .nz{background-position:0 -2816px;}
.flag-mini .om{background-position:0 -2832px;}
.flag-mini .pa{background-position:0 -2848px;}
.flag-mini .pe{background-position:0 -2864px;}
.flag-mini .pf{background-position:0 -2880px;}
.flag-mini .pg{background-position:0 -2896px;}
.flag-mini .ph{background-position:0 -2912px;}
.flag-mini .pk{background-position:0 -2928px;}
.flag-mini .pl{background-position:0 -2944px;}
.flag-mini .pr{background-position:0 -2960px;}
.flag-mini .ps{background-position:0 -2976px;}
.flag-mini .pt{background-position:0 -2992px;}
.flag-mini .pw{background-position:0 -3008px;}
.flag-mini .py{background-position:0 -3024px;}
.flag-mini .qa{background-position:0 -3040px;}
.flag-mini .re{background-position:0 -3056px;}
.flag-mini .ro{background-position:0 -3072px;}
.flag-mini .rs{background-position:0 -3088px;}
.flag-mini .ru{background-position:0 -3104px;}
.flag-mini .rw{background-position:0 -3120px;}
.flag-mini .sa{background-position:0 -3136px;}
.flag-mini .sb{background-position:0 -3152px;}
.flag-mini .sc{background-position:0 -3168px;}
.flag-mini .sd{background-position:0 -3184px;}
.flag-mini .se{background-position:0 -3200px;}
.flag-mini .sg{background-position:0 -3216px;}
.flag-mini .si{background-position:0 -3232px;}
.flag-mini .sk{background-position:0 -3248px;}
.flag-mini .sl{background-position:0 -3264px;}
.flag-mini .sm{background-position:0 -3280px;}
.flag-mini .sn{background-position:0 -3296px;}
.flag-mini .so{background-position:0 -3312px;}
.flag-mini .sr{background-position:0 -3328px;}
.flag-mini .st{background-position:0 -3344px;}
.flag-mini .sv{background-position:0 -3360px;}
.flag-mini .sy{background-position:0 -3376px;}
.flag-mini .sz{background-position:0 -3392px;}
.flag-mini .tc{background-position:0 -3408px;}
.flag-mini .td{background-position:0 -3424px;}
.flag-mini .tg{background-position:0 -3440px;}
.flag-mini .th{background-position:0 -3456px;}
.flag-mini .tj{background-position:0 -3472px;}
.flag-mini .tl{background-position:0 -3488px;}
.flag-mini .tm{background-position:0 -3504px;}
.flag-mini .tn{background-position:0 -3520px;}
.flag-mini .to{background-position:0 -3536px;}
.flag-mini .tr{background-position:0 -3552px;}
.flag-mini .tt{background-position:0 -3568px;}
.flag-mini .tv{background-position:0 -3584px;}
.flag-mini .tw{background-position:0 -3600px;}
.flag-mini .tz{background-position:0 -3616px;}
.flag-mini .ua{background-position:0 -3632px;}
.flag-mini .ug{background-position:0 -3648px;}
.flag-mini .us{background-position:0 -3664px;}
.flag-mini .uy{background-position:0 -3680px;}
.flag-mini .uz{background-position:0 -3696px;}
.flag-mini .va{background-position:0 -3712px;}
.flag-mini .vc{background-position:0 -3728px;}
.flag-mini .ve{background-position:0 -3744px;}
.flag-mini .vg{background-position:0 -3760px;}
.flag-mini .vi{background-position:0 -3776px;}
.flag-mini .vn{background-position:0 -3792px;}
.flag-mini .vu{background-position:0 -3808px;}
.flag-mini .ws{background-position:0 -3824px;}
.flag-mini .ye{background-position:0 -3840px;}
.flag-mini .za{background-position:0 -3856px;}
.flag-mini .zm{background-position:0 -3872px;}
.flag-mini .zw{background-position:0 -3872px;}

//Flags 32px
.flag-medium ._African_Union(OAS){background-position:0 -32px;}
.flag-medium ._Arab_League{background-position:0 -64px;}
.flag-medium ._ASEAN{background-position:0 -96px;}
.flag-medium ._CARICOM{background-position:0 -128px;}
.flag-medium ._CIS{background-position:0 -160px;}
.flag-medium ._Commonwealth{background-position:0 -192px;}
.flag-medium ._England{background-position:0 -224px;}
.flag-medium ._European_Union{background-position:0 -256px;}
.flag-medium ._Islamic_Conference{background-position:0 -288px;}
.flag-medium ._Kosovo{background-position:0 -320px;}
.flag-medium ._NATO{background-position:0 -352px;}
.flag-medium ._Northern_Cyprus{background-position:0 -384px;}
.flag-medium ._Northern_Ireland{background-position:0 -416px;}
.flag-medium ._Olimpic_Movement{background-position:0 -448px;}
.flag-medium ._OPEC{background-position:0 -480px;}
.flag-medium ._Red_Cross{background-position:0 -512px;}
.flag-medium ._Scotland{background-position:0 -544px;}
.flag-medium ._Somaliland{background-position:0 -576px;}
.flag-medium ._Tibet{background-position:0 -608px;}
.flag-medium ._United_Nations{background-position:0 -640px;}
.flag-medium ._Wales{background-position:0 -672px;}
.flag-medium .ad{background-position:0 -704px;}
.flag-medium .ae{background-position:0 -736px;}
.flag-medium .af{background-position:0 -768px;}
.flag-medium .ag{background-position:0 -800px;}
.flag-medium .ai{background-position:0 -832px;}
.flag-medium .al{background-position:0 -864px;}
.flag-medium .am{background-position:0 -896px;}
.flag-medium .an{background-position:0 -928px;}
.flag-medium .ao{background-position:0 -960px;}
.flag-medium .aq{background-position:0 -992px;}
.flag-medium .ar{background-position:0 -1024px;}
.flag-medium .as{background-position:0 -1056px;}
.flag-medium .at{background-position:0 -1088px;}
.flag-medium .au{background-position:0 -1120px;}
.flag-medium .aw{background-position:0 -1152px;}
.flag-medium .az{background-position:0 -1184px;}
.flag-medium .ba{background-position:0 -1216px;}
.flag-medium .bb{background-position:0 -1248px;}
.flag-medium .bd{background-position:0 -1280px;}
.flag-medium .be{background-position:0 -1312px;}
.flag-medium .bf{background-position:0 -1344px;}
.flag-medium .bg{background-position:0 -1376px;}
.flag-medium .bh{background-position:0 -1408px;}
.flag-medium .bi{background-position:0 -1440px;}
.flag-medium .bj{background-position:0 -1472px;}
.flag-medium .bm{background-position:0 -1504px;}
.flag-medium .bn{background-position:0 -1536px;}
.flag-medium .bo{background-position:0 -1568px;}
.flag-medium .br{background-position:0 -1600px;}
.flag-medium .bs{background-position:0 -1632px;}
.flag-medium .bt{background-position:0 -1664px;}
.flag-medium .bw{background-position:0 -1696px;}
.flag-medium .by{background-position:0 -1728px;}
.flag-medium .bz{background-position:0 -1760px;}
.flag-medium .ca{background-position:0 -1792px;}
.flag-medium .cd{background-position:0 -1824px;}
.flag-medium .cf{background-position:0 -1856px;}
.flag-medium .cg{background-position:0 -1888px;}
.flag-medium .ch{background-position:0 -1920px;}
.flag-medium .ci{background-position:0 -1952px;}
.flag-medium .ck{background-position:0 -1984px;}
.flag-medium .cl{background-position:0 -2016px;}
.flag-medium .cm{background-position:0 -2048px;}
.flag-medium .cn{background-position:0 -2080px;}
.flag-medium .co{background-position:0 -2112px;}
.flag-medium .cr{background-position:0 -2144px;}
.flag-medium .cu{background-position:0 -2176px;}
.flag-medium .cv{background-position:0 -2208px;}
.flag-medium .cy{background-position:0 -2240px;}
.flag-medium .cz{background-position:0 -2272px;}
.flag-medium .de{background-position:0 -2304px;}
.flag-medium .dj{background-position:0 -2336px;}
.flag-medium .dk{background-position:0 -2368px;}
.flag-medium .dm{background-position:0 -2400px;}
.flag-medium .do{background-position:0 -2432px;}
.flag-medium .dz{background-position:0 -2464px;}
.flag-medium .ec{background-position:0 -2496px;}
.flag-medium .ee{background-position:0 -2528px;}
.flag-medium .eg{background-position:0 -2560px;}
.flag-medium .eh{background-position:0 -2592px;}
.flag-medium .er{background-position:0 -2624px;}
.flag-medium .es{background-position:0 -2656px;}
.flag-medium .et{background-position:0 -2688px;}
.flag-medium .fi{background-position:0 -2720px;}
.flag-medium .fj{background-position:0 -2752px;}
.flag-medium .fm{background-position:0 -2784px;}
.flag-medium .fo{background-position:0 -2816px;}
.flag-medium .fr{background-position:0 -2848px;}
.flag-medium .ga{background-position:0 -2880px;}
.flag-medium .gb{background-position:0 -2912px;}
.flag-medium .gd{background-position:0 -2944px;}
.flag-medium .ge{background-position:0 -2976px;}
.flag-medium .gg{background-position:0 -3008px;}
.flag-medium .gh{background-position:0 -3040px;}
.flag-medium .gi{background-position:0 -3072px;}
.flag-medium .gl{background-position:0 -3104px;}
.flag-medium .gm{background-position:0 -3136px;}
.flag-medium .gn{background-position:0 -3168px;}
.flag-medium .gp{background-position:0 -3200px;}
.flag-medium .gq{background-position:0 -3232px;}
.flag-medium .gr{background-position:0 -3264px;}
.flag-medium .gt{background-position:0 -3296px;}
.flag-medium .gu{background-position:0 -3328px;}
.flag-medium .gw{background-position:0 -3360px;}
.flag-medium .gy{background-position:0 -3392px;}
.flag-medium .hk{background-position:0 -3424px;}
.flag-medium .hn{background-position:0 -3456px;}
.flag-medium .hr{background-position:0 -3488px;}
.flag-medium .ht{background-position:0 -3520px;}
.flag-medium .hu{background-position:0 -3552px;}
.flag-medium .id{background-position:0 -3584px;}
.flag-medium .mc{background-position:0 -3584px;}
.flag-medium .ie{background-position:0 -3616px;}
.flag-medium .il{background-position:0 -3648px;}
.flag-medium .im{background-position:0 -3680px;}
.flag-medium .in{background-position:0 -3712px;}
.flag-medium .iq{background-position:0 -3744px;}
.flag-medium .ir{background-position:0 -3776px;}
.flag-medium .is{background-position:0 -3808px;}
.flag-medium .it{background-position:0 -3840px;}
.flag-medium .je{background-position:0 -3872px;}
.flag-medium .jm{background-position:0 -3904px;}
.flag-medium .jo{background-position:0 -3936px;}
.flag-medium .jp{background-position:0 -3968px;}
.flag-medium .ke{background-position:0 -4000px;}
.flag-medium .kg{background-position:0 -4032px;}
.flag-medium .kh{background-position:0 -4064px;}
.flag-medium .ki{background-position:0 -4096px;}
.flag-medium .km{background-position:0 -4128px;}
.flag-medium .kn{background-position:0 -4160px;}
.flag-medium .kp{background-position:0 -4192px;}
.flag-medium .kr{background-position:0 -4224px;}
.flag-medium .kw{background-position:0 -4256px;}
.flag-medium .ky{background-position:0 -4288px;}
.flag-medium .kz{background-position:0 -4320px;}
.flag-medium .la{background-position:0 -4352px;}
.flag-medium .lb{background-position:0 -4384px;}
.flag-medium .lc{background-position:0 -4416px;}
.flag-medium .li{background-position:0 -4448px;}
.flag-medium .lk{background-position:0 -4480px;}
.flag-medium .lr{background-position:0 -4512px;}
.flag-medium .ls{background-position:0 -4544px;}
.flag-medium .lt{background-position:0 -4576px;}
.flag-medium .lu{background-position:0 -4608px;}
.flag-medium .lv{background-position:0 -4640px;}
.flag-medium .ly{background-position:0 -4672px;}
.flag-medium .ma{background-position:0 -4704px;}
.flag-medium .md{background-position:0 -4736px;}
.flag-medium .me{background-position:0 -4768px;}
.flag-medium .mg{background-position:0 -4800px;}
.flag-medium .mh{background-position:0 -4832px;}
.flag-medium .mk{background-position:0 -4864px;}
.flag-medium .ml{background-position:0 -4896px;}
.flag-medium .mm{background-position:0 -4928px;}
.flag-medium .mn{background-position:0 -4960px;}
.flag-medium .mo{background-position:0 -4992px;}
.flag-medium .mq{background-position:0 -5024px;}
.flag-medium .mr{background-position:0 -5056px;}
.flag-medium .ms{background-position:0 -5088px;}
.flag-medium .mt{background-position:0 -5120px;}
.flag-medium .mu{background-position:0 -5152px;}
.flag-medium .mv{background-position:0 -5184px;}
.flag-medium .mw{background-position:0 -5216px;}
.flag-medium .mx{background-position:0 -5248px;}
.flag-medium .my{background-position:0 -5280px;}
.flag-medium .mz{background-position:0 -5312px;}
.flag-medium .na{background-position:0 -5344px;}
.flag-medium .nc{background-position:0 -5376px;}
.flag-medium .ne{background-position:0 -5408px;}
.flag-medium .ng{background-position:0 -5440px;}
.flag-medium .ni{background-position:0 -5472px;}
.flag-medium .nl{background-position:0 -5504px;}
.flag-medium .no{background-position:0 -5536px;}
.flag-medium .np{background-position:0 -5568px;}
.flag-medium .nr{background-position:0 -5600px;}
.flag-medium .nz{background-position:0 -5632px;}
.flag-medium .om{background-position:0 -5664px;}
.flag-medium .pa{background-position:0 -5696px;}
.flag-medium .pe{background-position:0 -5728px;}
.flag-medium .pf{background-position:0 -5760px;}
.flag-medium .pg{background-position:0 -5792px;}
.flag-medium .ph{background-position:0 -5824px;}
.flag-medium .pk{background-position:0 -5856px;}
.flag-medium .pl{background-position:0 -5888px;}
.flag-medium .pr{background-position:0 -5920px;}
.flag-medium .ps{background-position:0 -5952px;}
.flag-medium .pt{background-position:0 -5984px;}
.flag-medium .pw{background-position:0 -6016px;}
.flag-medium .py{background-position:0 -6048px;}
.flag-medium .qa{background-position:0 -6080px;}
.flag-medium .re{background-position:0 -6112px;}
.flag-medium .ro{background-position:0 -6144px;}
.flag-medium .rs{background-position:0 -6176px;}
.flag-medium .ru{background-position:0 -6208px;}
.flag-medium .rw{background-position:0 -6240px;}
.flag-medium .sa{background-position:0 -6272px;}
.flag-medium .sb{background-position:0 -6304px;}
.flag-medium .sc{background-position:0 -6336px;}
.flag-medium .sd{background-position:0 -6368px;}
.flag-medium .se{background-position:0 -6400px;}
.flag-medium .sg{background-position:0 -6432px;}
.flag-medium .si{background-position:0 -6464px;}
.flag-medium .sk{background-position:0 -6496px;}
.flag-medium .sl{background-position:0 -6528px;}
.flag-medium .sm{background-position:0 -6560px;}
.flag-medium .sn{background-position:0 -6592px;}
.flag-medium .so{background-position:0 -6624px;}
.flag-medium .sr{background-position:0 -6656px;}
.flag-medium .st{background-position:0 -6688px;}
.flag-medium .sv{background-position:0 -6720px;}
.flag-medium .sy{background-position:0 -6752px;}
.flag-medium .sz{background-position:0 -6784px;}
.flag-medium .tc{background-position:0 -6816px;}
.flag-medium .td{background-position:0 -6848px;}
.flag-medium .tg{background-position:0 -6880px;}
.flag-medium .th{background-position:0 -6912px;}
.flag-medium .tj{background-position:0 -6944px;}
.flag-medium .tl{background-position:0 -6976px;}
.flag-medium .tm{background-position:0 -7008px;}
.flag-medium .tn{background-position:0 -7040px;}
.flag-medium .to{background-position:0 -7072px;}
.flag-medium .tr{background-position:0 -7104px;}
.flag-medium .tt{background-position:0 -7136px;}
.flag-medium .tv{background-position:0 -7168px;}
.flag-medium .tw{background-position:0 -7200px;}
.flag-medium .tz{background-position:0 -7232px;}
.flag-medium .ua{background-position:0 -7264px;}
.flag-medium .ug{background-position:0 -7296px;}
.flag-medium .us{background-position:0 -7328px;}
.flag-medium .uy{background-position:0 -7360px;}
.flag-medium .uz{background-position:0 -7392px;}
.flag-medium .va{background-position:0 -7424px;}
.flag-medium .vc{background-position:0 -7456px;}
.flag-medium .ve{background-position:0 -7488px;}
.flag-medium .vg{background-position:0 -7520px;}
.flag-medium .vi{background-position:0 -7552px;}
.flag-medium .vn{background-position:0 -7584px;}
.flag-medium .vu{background-position:0 -7616px;}
.flag-medium .ws{background-position:0 -7648px;}
.flag-medium .ye{background-position:0 -7680px;}
.flag-medium .za{background-position:0 -7712px;}
.flag-medium .zm{background-position:0 -7744px;}
.flag-medium .zw{background-position:0 -7744px;}