/**
 * Grid
 *
 * Set up responsive grid system.
 *
 * This is heavily infleuenced by the Semantic Grid http://semantic.gs
 *
 * @author Abban Dunne http://abandon.ie
 * @author James Wilson http://jimmynotjim.com
 * @version 1.1
 */

/* Utility variable — you should never need to modify this */
@gridsystem-width: @columns * 1px;
@padding: @gutter-width*0.5;
@correction: 0.5 / @max-width * 100 * 1%; // NOTE: Check this in IE


/* Ensure grid columns are set to border-boxes. This is essential */
.border-box(@sizing: border-box) {
	-ms-box-sizing: @sizing;
	-moz-box-sizing: @sizing;
	-webkit-box-sizing: @sizing;
	box-sizing: @sizing;
}
/* Our row container */
.row(@padding:0){
	&:extend(.clearfix all, .border-box);

	display:block;
	max-width: @max-width;
	margin: 0 auto;
	padding:0;
}

/* Our column container */
.column(@x, @padding:@padding, @columns:@columns){
	&:extend(.border-box);
	display: inline;
	float: left;
	width: 100%*(@x / @columns);
	padding: 0 @padding;
}

/* Push adds left padding */
.push(@offset:1, @columns:@columns) {
	margin-left: 100%*(@offset / @columns);
}

/* Pull adds right padding */
.pull(@offset:1, @columns:@columns) {
	margin-right: 100%*(@offset / @columns);
}
