<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
?>
<?php
	$session = Mage::getSingleton('checkout/session');
	$quote = $session->getQuote();
?>
<li class="nav-item cart-container">
	<?php $_cartQty = $this->getSummaryCount() ?>
	<span class="title<?php if($_cartQty != 0) { echo ' more-items'; }?>">
		<?php echo $this->__('My Cart')?>
		<strong class="subtitle">
		<?php if($_cartQty == 0) : ?>
			(0)
		<?php else:?>
			(<?php echo $_cartQty . $this->__('items'); ?>)
		<?php endif;?>
		</strong>
	</span>
	<?php if( $_cartQty != 0 ) : ?>
	<div class="summary">
		<?php $_items = $this->getRecentItems() ?>
		<?php if(count($_items)): ?>
			<ol id="cart-sidebar" class="mini-products-list">
			<?php foreach($_items as $_item): ?>
				<?php echo $this->getItemHtml($_item) ?>
			<?php endforeach; ?>
				<li class="item">
					<?php echo $this->getChildHtml('extra_actions') ?>
					<button type="button" class="btn btn-summary-checkout" onclick="setLocation('<?php echo $this->getUrl('checkout/cart') ?>')"><?php echo $this->__('Shopping Cart') ?></button>
				</li>
			</ol>
			<script type="text/javascript">decorateList('cart-sidebar', 'none-recursive')</script>
		<?php endif ?>
	</div>
	<?php endif; ?>
</li>
