<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
 ?>
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta http-equiv="cleartype" content="on" />

<?php $product = Mage::registry('current_product');
    if ($product): ?>
    <meta itemprop="url" content="<?php echo $_product->getUrlModel()->getUrl($_product, array('_ignore_category'=>true)); ?>" />
    <meta itemprop="sku" content="<?php echo $_product->getSku() ?>" />
    <meta itemprop="price" content="<?php echo number_format($_item->getPrice(), 2);?>" />
    <meta itemprop="priceCurrency" content="<?php echo Mage::app()->getStore()->getCurrentCurrencyCode();?>" />
<?php if ($this->getReviewsCount()) : ?>
    <meta itemprop="ratingValue" content="<?php echo $this->getRatingSummary(); ?>"/>
    <meta itemprop="reviewCount" content="<?php echo $this->getReviewsCount(); ?>" />
    <meta itemprop="bestRating" content="100"/>
    <meta itemprop="worstRating" content="0"/>
<?php endif; ?>

<!-- Facebook - Open Graph -->
    <meta property="og:title" content="<?php echo $product->getName(); ?> « <?php echo  Mage::app()->getWebsite()->getName(); ?>" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="<?php echo $this->helper('catalog/product')->getProductUrl($product); ?>" />
    <meta property="og:image" content="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(200, 200); ?>" />
    <meta property="og:description" content="<?php echo strip_tags($product->getShortDescription()); ?>" />
    <meta property="og:site_name" content="<?php echo  Mage::app()->getWebsite()->getName(); ?>" />

  <!-- Twitter - Card -->
     <meta name="twitter:card" content="product">
     <meta name="twitter:url" content="<?php echo $this->helper('catalog/product')->getProductUrl($product); ?>">
     <meta name="twitter:title" content="<?php echo $product->getName(); ?> « <?php echo  Mage::app()->getWebsite()->getName(); ?>">
     <meta name="twitter:description" content="<?php echo strip_tags($product->getShortDescription()); ?>">
     <meta name="twitter:image" content="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(160, 160); ?>">

     <!-- Google Plus -->
     <meta itemprop="description" content="<?php echo strip_tags($product->getShortDescription()); ?>">
     <meta itemprop="image" content="<?php echo $this->helper('catalog/image')->init($product, 'image')->resize(300, 300); ?>">
     <meta itemprop="name" content="<?php echo $product->getName(); ?> « <?php echo  Mage::app()->getWebsite()->getName(); ?>">
     <meta itemprop="url" content="<?php echo $this->helper('catalog/product')->getProductUrl($product); ?>">
<?php else: ?>
<!-- Facebook - Open Graph -->
    <meta property="og:title" content="<?php echo $this->getTitle(); ?> « <?php echo  Mage::app()->getWebsite()->getName(); ?>" />
    <meta property="og:type" content="store" />
    <meta property="og:url" content="<?php echo Mage::helper('core/url')->getCurrentUrl();?>" />
    <meta property="og:image" content="<?php echo $this->getSkinUrl('images/logo.png') ?>" />
    <meta property="og:description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
    <meta property="og:site_name" content="<?php echo  Mage::app()->getWebsite()->getName(); ?>" />

  <!-- Twitter - Card -->
     <meta name="twitter:card" content="summary">
     <meta name="twitter:url" content="<?php echo Mage::helper('core/url')->getCurrentUrl();?>">
     <meta name="twitter:title" content="<?php echo $this->getTitle(); ?> « <?php echo  Mage::app()->getWebsite()->getName(); ?>">
     <meta name="twitter:description" content="<?php echo htmlspecialchars($this->getDescription()) ?>">
     <meta name="twitter:image" content="<?php echo $this->getSkinUrl('images/logo.png') ?>">

     <!-- Google Plus -->
     <meta itemprop="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>">
     <meta itemprop="image" content="<?php echo $this->getSkinUrl('images/logo.png') ?>">
     <meta itemprop="name" content="<?php echo $this->getTitle(); ?> « <?php echo  Mage::app()->getWebsite()->getName(); ?>">
     <meta itemprop="url" content="<?php echo Mage::helper('core/url')->getCurrentUrl();?>">
<?php endif; ?>
