<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
?>
<div class="block-subscribe">
	<h2 class="block-title"><?php echo $this->__('Newsletter') ?></h2>
	<form action="<?php echo $this->getFormActionUrl() ?>" method="post" id="newsletter-validate-detail">
		<label for="newsletter"><?php echo $this->__('Sign up for our newsletter and receive our news and offers.') ?></label>
		<fieldset class="block-container inputs-block">
			<ul class="form-subscribe-block">
				<li class="subscribe-block-item item-name"><input type="text" name="name" id="newsletter" title="<?php echo $this->__('Name') ?>" placeholder="<?php echo $this->__('Name') ?>" class="input-text required-entry" /></li>
				<li class="subscribe-block-item item-email"><input type="text" name="email" id="newsletter" title="<?php echo $this->__('Email') ?>" placeholder="<?php echo $this->__('Email') ?>" class="input-text required-entry validate-email" /><button type="submit" title="<?php echo $this->__('Register Newsletter') ?>" class="button btn btn-subscribe"><?php echo $this->__('Register Newsletter') ?></button></li>
			</ul>
		</fieldset>
	</form>
	<script type="text/javascript">
	//<![CDATA[
		var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
	//]]>
	</script>
</div>
