<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
?>
<?php
/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
	var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view" itemscope itemtype="http://schema.org/Product" itemid="#product_base">
	<div class="product-essential" itemscope itemtype="http://schema.org/Product">
		<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<div class="no-display">
				<input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
				<input type="hidden" name="related_product" id="related-products-field" value="" />
			</div>

			<div class="product-img-box">
				<?php echo $this->getChildHtml('media') ?>
			</div>

			<div class="product-shop">
				<div class="product-name">
						<?php $sku = Mage::getModel('catalog/product')->load($_product->getId())->getSku(); ?>
						<h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
						<p itemprop="sku" class="sku"><?php echo $this->__('Product code:'); ?> <?php echo $sku; ?></p>
				</div>

				<?php if ($_product->getShortDescription ()):?>
					<div class="short-description" itemprop="description">
						<p><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></p>
					</div>
				<?php endif;?>
				<?php echo $this->getChildHtml('alert_urls') ?>

				<?php echo $this->getTierPriceHtml() ?>
                <?php echo $this->getChildHtml('other');?>

                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                <?php endif;?>


                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                <?php endif;?>

                <?php echo $this->getChildHtml('embroidered') ?>

                <?php if (!$this->hasOptions()):?>
                    <div class="add-to-box">
                        <?php echo $this->getChildHtml('product_type_data'); ?>
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>
                    </div>


                    <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php endif; ?>

				<div class="share-product">
					<?php if ($this->canEmailToFriend()): ?>
						<a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" class="email-friend"><?php echo $this->__('Email to a Friend') ?></a>
					<?php endif; ?>
					<?php echo $this->getChildHtml('social.addthis'); ?>
				</div>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
			var productAddToCartForm = new VarienForm('product_addtocart_form');
			productAddToCartForm.submit = function(button, url) {
				if (this.validator.validate()) {
					var form = this.form;
					var oldUrl = form.action;

					if (url) {
					   form.action = url;
					}
					var e = null;
					try {
						this.form.submit();
					} catch (e) {
					}
					this.form.action = oldUrl;
					if (e) {
						throw e;
					}

					if (button && button != 'undefined') {
						button.disabled = true;
					}
				}
			}.bind(productAddToCartForm);

			productAddToCartForm.submitLight = function(button, url){
				if(this.validator) {
					var nv = Validation.methods;
					delete Validation.methods['required-entry'];
					delete Validation.methods['validate-one-required'];
					delete Validation.methods['validate-one-required-by-name'];
					// Remove custom datetime validators
					for (var methodName in Validation.methods) {
						if (methodName.match(/^validate-datetime-.*/i)) {
							delete Validation.methods[methodName];
						}
					}

					if (this.validator.validate()) {
						if (url) {
							this.form.action = url;
						}
						this.form.submit();
					}
					Object.extend(Validation.methods, nv);
				}
			}.bind(productAddToCartForm);
		//]]>
		</script>
	</div>

	<div class="tabs-product tabs-container">
		<ul class="menu-tab">
			<li class="tab-item tab-item-description"><a href="#description" class="link-active"><?php echo $this->__('Description') ?></a></li>
			<li class="tab-item tab-item-comments"><a href="#comments" class="link-item"><?php echo $this->__('Comments') ?></a></li>
		</ul>
		<div id="description" class="product-tab-content content-tab" itemprop="description">
			<h2><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
			<p><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></p>
		</div>
		<div id="comments" class="product-tab-content content-tab closed-tab" itemprop="reviews">
			<?php echo $this->getChildHtml('product_review') ?>
		</div>
	</div>

	<?php echo $this->getChildHtml('catalog_product_related') ?>
	<?php echo $this->getChildHtml('upsell_products') ?>
</div>
