<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
?>
<?php
	$storeId = Mage::app()->getStore()->getId();
?>
<?php echo $this->getChildHtml('footer.column.social') ?>
<div class="footer footer-institutional">
	<div class="limit">
		<div class="content column-institutional">
			<?php
				$blockId = 'footer_column_institutionals';
				$blockModel = Mage::getModel('cms/block')->setStoreId($storeId)->load($blockId);
			?>
			<h5><?php echo $blockModel->getTitle(); ?></h5>
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml()?>
		</div>

		<div class="content column-support">
			<?php
				$blockId = 'footer_column_support';
				$blockModel = Mage::getModel('cms/block')->setStoreId($storeId)->load($blockId);
			?>
			<h5><?php echo $blockModel->getTitle(); ?></h5>
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml()?>
		</div>

		<div class="content column-social-network">
			<h5><?php echo $this->__('Social Network') ?></h5>
			<?php
				$_storeId = Mage::app()->getStore()->getId();
				$_appId = Mage::getModel('core/variable')->setStoreId($_storeId)->loadByCode('facebook_app_id')->getValue('plain');
				$_urlPage = Mage::getModel('core/variable')->setStoreId($_storeId)->loadByCode('facebook_app_url')->getValue('plain');
			?>
			<iframe src="http://www.facebook.com/plugins/likebox.php?href=<?php echo $_urlPage; ?>&amp;width=120&amp;show_faces=false&amp;colorscheme=light&amp;stream=false&amp;border_color=false&amp;header=true&amp;appId=<?php echo $_appId; ?>" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>

		<div class="content column-payment-methods">
			<?php
				$blockId = 'footer_column_payment_methods';
				$blockModel = Mage::getModel('cms/block')->setStoreId($storeId)->load($blockId);
			?>
			<h5><?php echo $blockModel->getTitle(); ?></h5>
			<?php
				echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
			?>
		</div>

		<div class="content column-certifications">
			<?php
				$blockId = 'footer_column_certifications';
				$blockModel = Mage::getModel('cms/block')->setStoreId($storeId)->load($blockId);
			?>
			<h5><?php echo $blockModel->getTitle(); ?></h5>
			<?php
				echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml();
			?>
		</div>
	</div>
</div>

<div class="footer footer-address">
	<div class="limit">
		<div class="column-call-center">
			<h5><?php echo $this->__('Call Center') ?></h5>
			<p class="tel"><?php
				echo nl2br(Mage::getStoreConfig('general/store_information/phone'));
			?></p>
		</div>
		<div class="column-email">
			<h5><?php echo $this->__('Email'); ?></h5>
			<a href="mailto:<?php echo Mage::getStoreConfig('trans_email/ident_general/email'); ?>"><?php echo Mage::getStoreConfig('trans_email/ident_general/email'); ?></a>
		</div>
        <div class="column-address">
            <h5><?php echo $this->__('Address'); ?></h5>
            <address><?php
                echo nl2br(Mage::getStoreConfig('general/store_information/address'));
            ?></address>
        </div>
	</div>
</div>

<div class="footer copyright-container">
	<div class="limit">
		<div class="column logo">
			<a class="footer-logo" href="<?php echo $this->getUrl('')?>" aria-label="<?php echo $this->getLogoAlt() ?>">
				<img src="<?php echo $this->getSkinUrl('images/logo_footer.png') ?>" alt="<?php echo $this->getLogoAlt() ?>" />
			</a>
			<p class="copy-message">
				<?php echo nl2br($this->getCopyright()); ?>
			</p>
		</div>
		<div class="column developer">
			<div class="powered">
				<span class="label">Tecnologia</span class="label">
				<?php
					$_powered_link = Mage::getModel('core/variable')->setStoreId($_storeId)->loadByCode('powered_link')->getValue('plain');
					$_powered_name = Mage::getModel('core/variable')->setStoreId($_storeId)->loadByCode('powered_name')->getValue('plain');
				?>
				<?php
					$magentoCurrentUrl = '';
					if (!in_array(Mage::app()->getFrontController()->getAction()->getFullActionName(), array('cms_index_noRoute', 'cms_index_defaultNoRoute'))) {
							$magentoCurrentUrl = Mage::helper('core/url')->getCurrentUrl();
					}
				?>
					<a href="<?php echo $_powered_link; ?>/?utm_source=<?php echo $magentoCurrentUrl; ?>/&utm_medium=referral&utm_campaign=footer_stamp" target="_blank" class="powered-logo"><?php echo $_powered_name; ?></a>
			</div>
		</div>
	</div>
</div>
