<?php
/**
    The MIT License (MIT)
    
    Copyright (c) 2013 Rick Benetti - WDSIGN
    
    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:
    
    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.
    
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
**/
?>
<?php
/**
 * Template for Mage_Page_Block_Html
 */
?>
<!doctype html>
<html lang="<?php echo $this->getLang() ?>" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/Store">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<body<?php echo $this->getBodyClass()?' class="wireframe '.$this->getBodyClass().'"':'' ?>>
	<?php echo $this->getChildHtml('after_body_start') ?>
	<div class="wrapper">
		<?php echo $this->getChildHtml('global_notices') ?>
		<div class="page">
			<?php echo $this->getChildHtml('header') ?>
			<?php echo $this->getChildHtml('navigation.top') ?>

        <?php echo $this->getChildHtml('full.slider') ?>

        <?php echo $this->getChildHtml('call.actions.header') ?>

			<div class="main-container col3-layout">
				<div class="main limit">
					<?php echo $this->getChildHtml('breadcrumbs') ?>
					<div class="col-left sidebar"><?php echo $this->getChildHtml('left') ?></div>
					<div class="col-wrapper">
						<div class="col-right sidebar"><?php echo $this->getChildHtml('right') ?></div>
						<div class="col-main">
							<?php echo $this->getChildHtml('global_messages') ?>
							<?php echo $this->getChildHtml('content') ?>
						</div>
					</div>
				</div>
			</div>

        <?php echo $this->getChildHtml('call.actions.footer') ?>

		<?php echo $this->getChildHtml('before_body_end') ?>
		</div>
	</div>
	<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
