<?php
/**
    The MIT License (MIT)

    Copyright (c) 2013 Rick Benetti - WDSIGN

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.

 * @project_name thirdClass
 * @copyright    Copyright (c) 2013 Rick Benetti - WDSIGN - thirdClass (http://thirdclass.wdsign.com.br)
 * @author       Rick Benetti <rick@wdsign.com.br>
 **/
?>
<?php
/**
 * Language switcher template
 *
 * @see Mage_Page_Block_Switch
 */
?>
<ul class="mini-flags">
    <?php
        if( count( $this->getStores() ) > 1 ) :
            foreach ( $this->getStores() as $store ) :
                if(Mage::app()->getStore()->getCode() == $store->getCode() )  continue;
                $nameLanguage = $store->getName();
                $abrvLanguage = strtolower( $store->getCode() );
                ?>
                <li>
                    <a href="<?php echo $store->getHomeUrl(); ?>" class="flag<?php echo ' ' . $abrvLanguage; ?>" title="<?php echo substr($nameLanguage, 0, 3); ?>"><?php echo $nameLanguage; ?></a>
                    <span class="txt-lang"><?php echo substr($nameLanguage, 0, 3); ?>.</span>
                </li>
            <?php
            endforeach;
        endif;
    ?>
</ul>
